<div class="form" ng-controller="MainController">
	<form ng-controller="MainController" ng-submit="createSshKey();" class="form-sshkey" ng-if="isLogin();">
		<h2 class="form-signin-heading">Add an SSH Key</h2>
		<label for="inputKeyName" class="sr-only">Key Name</label>
		<input type="text" ng-model="keyName" id="inputKeyName" class="form-control" placeholder="Key name" required autofocus>
		<label for="inputSshKey" class="sr-only">SSH Key</label>
		<textarea ng-model="sshKey" id="inputSshKey" class="form-control" placeholder="SSH Key" required rows="10"></textarea>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Add Key</button>
	</form>
	<div class="alert alert-danger" role="alert" ng-show="errorMessage.length > 0">
		{{errorMessage}}
	</div>
</div>