.form {
	text-align: center;
}
.form > .alert {
	width: 50%;
	display: inline-block;
}
.content-title {
	margin-bottom: 10px;
}
.sub-header {
	display: inline;
}
.content-title-right {
	float: right!important;
	display: flex;
}
.content {
	display: inline;
}
.page-nav {
	text-align: center;
}
.label {
	margin: 0 3 0 3;
	line-height: 2;
}